ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: pink;
    overflow: hidden;
    /* hidden overflow clips the background color to just ul.a */
  }
  ul.a li {
    float: left;
    /* left float goes from left to right */
  }
  ul.a li a {
    display: block;
    color: rgb(255, 0, 136);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform .2s;
    /* how much time an image takes to transform */
  }
  ul.a li a:hover {
    transform: scale(1.5);
    /* how big the image will be after transforming while hovering on it */
  }

  body.news {
    font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  background-color: lightcyan;
  }

  .Paragraph1 {
    background-color: pink;
    margin: 20px;
    padding: 20px;
    color: red;
    border: 5px solid red;    
    box-shadow: 10px 10px darkred;
    width: 200px;
    transition: transform .2s;
  }

  .Paragraph2 {
    background-color: lightgreen;
    margin: -265px 500px;
    padding: 20px;
    color:green;
    border: 5px dotted green;
    width: 200px;
    box-shadow: 10px 10px darkgreen;
    transition: transform .2s;
  }

  .Paragraph3 {
    background-color: lightblue;
    margin: -315px 900px;
    padding: 20px;
    color:blue;
    border: 5px dashed blue;
    box-shadow: 10px 10px darkblue;
    width: 200px;
    transition: transform .2s;
  }
  .Paragraph1:hover {
    transform: scale(1.1);
  }
  .Paragraph2:hover{
    transform: scale(1.1);
  }
.Paragraph3:hover {
    transform: scale(1.1);
}

.about {
  background-color: tan;
  height: 630px;
  margin: 50px;
  padding: 50px;
  border: 5px solid brown;
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 10px 10px rgb(105, 40, 0);
}
.about img {
  float: left;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  width: 20%;
  transition: transform .2s;
}
.about img:hover {
  transform: scale(1.1);
}
ul.b {
  list-style-type: none;
    margin: 20px;
    padding: 20;
    overflow: hidden;
}

ul.b li {
  float: left;
  margin: 20px 20px;
transition: transform .2s;
}

ul.b li:hover {
  transform: scale(1.1);
}

body.gallery {
background-color: lightblue;
font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.p1 {
  margin: 50px;
  padding: 20px;
  background-color: silver;
  border: 3px solid darkgrey;
  width: 200px;
}
.p2 {
  margin: 100px;
  padding: 20px;
  background-color: gold;
  border: 3px solid darkgoldenrod;
  width: 500px;
  display:flex;
}
h1 {
  text-align: center;
}

ul.content {
  list-style-type: none;
  overflow: hidden;
}
ul.content li {
float:left;
}

body.learnmore {
  font-family: "Merriweather", serif;
  font-weight: 40;
  font-style: normal;
  font-size:smaller;
}

.desc1 {
  border: 3px solid;
}

.desc2 {
  border: 3px solid;
}

body.home {
  font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body.home img {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  display: grid;
  /* margin-left and margin-right being set to auto centers the images but the images should have a width less than 100% to establish this alignment */
}